name: Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"
          check-latest: true

      # npm 11.6.2 bundled with Node v24 has a lockfile compatibility bug (https://github.com/npm/cli/issues/8669)
      # TODO: Remove this step when Node.js ships with npm@11.6.3+
      - name: Upgrade npm
        run: npm install --global npm@11.7.0

      - run: npm ci

      - run: npm run test:format

      - run: npm run test:types

      - run: npm run build:prod
